/* * {

} */
h1 {
    font-family: 'Limelight';
    font-size: 3em;
    text-align: center;
    margin-bottom: 0.5em;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    color: #f5f5dc;
    /* font-family: 'Cinzel Decorative', serif; */
    /* margin-top: 4em; */
    /* padding: 0; */
    background-color: #000000;
    background-image: url('./images/patternH.png');
    background-repeat: no-repeat;
    background-size:  100% 100%;
    background-position: center;

}
/* .container {

    /* background-color: #5e0404ea; */
    /* border-radius: 25px;
    border-width: 1em solid;
    border-color: white;
    width: 80%;
    min-height: 80%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.paper-panel {

  background: url('./images/papel.jpg');
  background-size: cover;
  padding: 100px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
  max-width: 60%;
  margin: auto;
  /* margin-top: 40px; */
}