@use "./../../styles/variables" as var;

.header {
  background-color: var.$primary-color;
  padding: 1rem 6rem;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ddd;
  @include var.deco-border;

  @media (max-width: 992px) {
    padding: 0 1rem;
    // margin: 0 1rem;
  }

  &__button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    span {
      display: block;
      height: 0.25rem;
      width: 100%;
      background-color: var.$background;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
      transform-origin: left center;
    }
    @media (max-width: 768px) {
      display: flex;
    }
  }
  &__button--active {
    span {
      &:nth-child(1) {
        transform: rotate(45deg); // Gira la línea superior hacia abajo
      }

      &:nth-child(2) {
        width: 0%; // Desvanece la línea del medio encogiéndola
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg); // Gira la línea inferior hacia arriba
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    @media (max-width: 760px) {
      padding: 0.5rem 1rem;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;
      color: var.$background;

      @media (max-width: 480px) {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}
