.projects-list {
  position: relative;

  background-color: white;
  height: 100vh;
  width: 100%;
  z-index: 1;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    padding: 2rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    border: black 2px solid;
    border-radius: 2rem;
  }
  .card {
    min-width: 280px; // esto fuerza el overflow
    scroll-snap-align: start;
  }
}
