@use "./../../styles/variables" as var;

.projects-list {
  position: relative;

  background-color: var.$primary-color;

  padding: 3rem 15rem;

  z-index: 1;
  text-align: center;
  font-size: 30px;
  @media (max-width: 1200px) {
    font-size: small;
    padding: 3rem 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 2rem;
    padding: 2rem;
    @media (max-width: 1200px) {
      padding: 0;
    }

    // overflow-x: visible;
    // scroll-snap-type: x mandatory;
    // scroll-behavior: smooth;

    // border: black 12px solid;
    border-radius: 2rem;
  }
  .card {
    background-color: black;
    padding: 0;
    height: 20rem;
    width: 30rem;
    scroll-snap-align: start;
    border-radius: 20px;
    @media (max-width: 1200px) {
      height: 14rem;
      width: 21rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // mantiene proporciones y llena el contenedor
      border-radius: 20px;
    }
  }
}
